In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

from gcimpute.helper_mask import mask_MCAR
from gcimpute.gaussian_copula import GaussianCopula
from gcimpute.helper_evaluation import get_smae

In [37]:
dat = pd.read_csv('abalone.csv')
dat = dat[dat['Sex'] == 'F']
dat = dat.sample(1000)

In [38]:
all_cols = dat.columns[1:]
cts_cols = ['Length', 'Diameter', 'Whole weight', 'Shucked weight', 'Viscera weight', 'Shell weight']
X = dat[cts_cols].values

In [39]:
X_mask = mask_MCAR(X, mask_fraction=0.1)

In [2]:
mask_MCAR?

In [40]:
model = GaussianCopula(verbose=1)
X_imp = model.fit_transform(X=X_mask)

Iteration 1: copula parameter change 0.0731, likelihood -3.6985
Iteration 2: copula parameter change 0.0083, likelihood -2.9446
Convergence achieved at iteration 2

In [42]:
from scipy.stats import kendalltau

array([[1.        , 0.95112656, 0.94052696, 0.90823451, 0.90544939,
        0.89369036],
       [0.95112656, 1.        , 0.93599194, 0.89079752, 0.89335534,
        0.90203698],
       [0.94052696, 0.93599194, 1.        , 0.93997133, 0.93625281,
        0.92727736],
       [0.90823451, 0.89079752, 0.93997133, 1.        , 0.89344066,
        0.83647749],
       [0.90544939, 0.89335534, 0.93625281, 0.89344066, 1.        ,
        0.8664208 ],
       [0.89369036, 0.90203698, 0.92727736, 0.83647749, 0.8664208 ,
        1.        ]])

In [51]:
kt = np.empty((6,6))
for i in range(6):
    for j in range(6):
        kt[i, j] = kendalltau(X_imp[:,i], X_imp[:,j]).correlation

In [53]:
pd.DataFrame(kt)

          0         1         2         3         4         5
0  1.000000  0.870676  0.825552  0.772882  0.762206  0.752445
1  0.870676  1.000000  0.828223  0.755223  0.753782  0.774542
2  0.825552  0.828223  1.000000  0.831921  0.817189  0.807794
3  0.772882  0.755223  0.831921  1.000000  0.748236  0.671554
4  0.762206  0.753782  0.817189  0.748236  1.000000  0.711903
5  0.752445  0.774542  0.807794  0.671554  0.711903  1.000000